Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# (i) string:
a = "kshitij"

In [2]:
# (ii) list:
b = [1,3,9,10,"hero",True]

In [3]:
# (iii) float:
c = 95.44778

In [4]:
# (iv) tuple:
d = (8,56,22,25,"apple")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [5]:
# (i)
var1 = ''

In [6]:
type (var1)

str

In [7]:
# (ii)
var2 = '[DS, ML, Python]'

In [8]:
type (var2)

str

In [10]:
# (iii)
var3 = ['DS', 'ML','Python']

In [11]:
type (var3)

list

In [12]:
# (iv)
var4 = 1

In [13]:
type (var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [21]:
#(i) /: Division (float) operator : This operator divides the first operand by the second. It is used when you want a more precise division result, as it does not round off the value to whole numbers.
# example:
7 / 4

1.75

In [22]:
#(ii) %: Modulus operator : This operator returns the remainder when the first operand is divided by the second.
# example:
5 % 2

1

In [23]:
#(iii) //: Division (floor) operator : This operator divides the first operand by the second. It allows us to divide two numbers and rounds the resultant value down to the nearest integer.
# example:
7 // 4

1

In [24]:
#(iv) ** : Power operator : Returns first raised to power second.
# example:
2**6

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
# Let l be the list of length 10.
l = [2,3,6,7,8,True,(6+5j),"game",10.967,"hello"]
print ("The elements in l :", l)
for i in l :
    print (f" The element is {(i)} ")
    print (f" Its data type is {type (i)}")

The elements in l : [2, 3, 6, 7, 8, True, (6+5j), 'game', 10.967, 'hello']
 The element is 2
 Its data type is <class 'int'>
 The element is 3
 Its data type is <class 'int'>
 The element is 6
 Its data type is <class 'int'>
 The element is 7
 Its data type is <class 'int'>
 The element is 8
 Its data type is <class 'int'>
 The element is True
 Its data type is <class 'bool'>
 The element is (6+5j)
 Its data type is <class 'complex'>
 The element is game
 Its data type is <class 'str'>
 The element is 10.967
 Its data type is <class 'float'>
 The element is hello
 Its data type is <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
# let the value of 'A' be 180 and the value of 'B' be 2.
# Then
A = 180
B = 2
count = 0
while A % B == 0:
    A = A/B
    count += 1
if count > 0:
    print ("A is divisible by B ", count, " times.")
else:
    print("A is not divisible by B.")

A is divisible by B  2  times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
# Let k be the list containing 25 int type data.
k = list(range(14,39))
print ("The elements in k:", k)
for i in k:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

The elements in k: [14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is divisible by 3
31 is not divisible by 3
32 is not divisible by 3
33 is divisible by 3
34 is not divisible by 3
35 is not divisible by 3
36 is divisible by 3
37 is not divisible by 3
38 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [27]:
# (i) Mutable data types: 
# Mutable data types in Python are those whose value can be changed in place after they have been created.
# There are basically 3 mutable data types in Python: List, Dictionary, Set.
# Example to demonstrate mutability in python by using list:
# let our current list be
my_list = [1,2,3,4,5]

# Changing the value of the list by using the assignment operator
my_list[4] = 100

print("List after changing value using indexing = ", my_list)

List after changing value using indexing =  [1, 2, 3, 4, 100]

Here the change is occurred in the list because mutable objects allow us to assign the data on a particular data type.
This shows that Lists are mutable in nature.

In [29]:
# (ii) Immutable data types:
# Immutable data types in Python are those whose value cannot be changed in place after they have been created.
# There are basically 3 mutable data types in Python: Integer, String, Float
# Example to demonstrate immutability in python by using string variable:
string_variable = 'hello geeks'

string_variable[0] = 'bye'

print(string_variable)

TypeError: 'str' object does not support item assignment

Here this error shows that we cannot assign any new string value to the existing string. This implies that strings are immutable in nature.